# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (next.js)
.next/
out/

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
bin/
obj/

# Compiler artifact
*.com
*.class
*.dll
*.exe
*.o
*.so

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
venv/
ENV/
env.bak/
venv.bak/

# Mobile (Android/iOS/Flutter/React Native)
# Android
.gradle/
local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.ap_

# iOS
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
# Xcode personal settings
xcuserdata/
# Crash reports
*.crash
# CocoaPods
Pods/
Podfile.lock

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables / secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
